# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- Know 3 development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. JavaScript
6. Scala
7. Java
8. Go

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. And more...

|Data Science Tools|
|------------------|
|     RStudio      |
|   Apache Spark   |
|  Apache Hadoop   |

### Below are a few examples of evaluating arithmetic expressions in Python.

*This is a simple arithmetic expression to multiply then add integers*

In [5]:
(3*4)+5

17

*This will convert 200 minutes to hours by dividing by 60*

In [4]:
200/60

3.3333333333333335

## Author
Nabil Hammia